// color palette
$main-color: #8eb936;
$secondary-color: #e6e6e6;

$white: #fff;
$success-color: #8eb936;
$info-color: #2196f3;
$warning-color: #ff9800;
$danger-color: #f44336;

//input variables
$input-background-color: $white;
$input-text-color: #656565;
$input-height: 34px;
$input-border-color: #dde6e9;
$input-padding: 6px 16px;
