<div class="container login-container">
  <div class="login-form">
    <header>
      <img src="{{imgPath}}200x67">
    </header>
    <form [formGroup]="loginForm" class="form">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="loginForm.controls['email'].hasError('required')">{{errorMsg.REQUIRED_FIELD}}</mat-error>
          <mat-error *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required')">{{errorMsg.INVALID_EMAIL}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" type="password">
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">{{errorMsg.REQUIRED_FIELD}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group btn-group">
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="login()">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
