<form [formGroup]="form"
      class="form">
    <div class="form-group"
         *ngFor="let field of fields">
        <mat-form-field>
            <input matInput
                   [type]="field.type || 'text'"
                   [disabled]="field.disabled"
                   [readonly]="field.readonly"
                   [placeholder]="field.placeholder"
                   formControlName="{{field.key}}">
             <mat-error *ngIf="form.controls[field.key].hasError('required')">{{errorMsg.REQUIRED_FIELD}}</mat-error>
             <mat-error *ngIf="form.controls[field.key].hasError('email')">{{errorMsg.INVALID_EMAIL}}</mat-error>
             <mat-error *ngIf="form.controls[field.key].hasError('minLength')">{{errorMsg.INVALID_MINLENGTH}}</mat-error>
             <mat-error *ngIf="form.controls[field.key].hasError('maxLength')">{{errorMsg.INVALID_MAXLENGTH}}</mat-error>
             <mat-error *ngIf="form.controls[field.key].hasError('pattern')">{{errorMsg.INVALID_PATTERN}}</mat-error>
        </mat-form-field>
    </div>
</form>

<button (click)="test()">test</button>