<form [formGroup]="form"
      class="form">
    <div class="form-group"
         *ngFor="let field of fields">

        <mat-form-field *ngIf="field.inputType === 'text'">
            <input matInput
                   [type]="field.type"
                   [placeholder]="field.placeholder"
                   [readonly]="field.readonly"
                   formControlName="{{field.key}}">
            <mat-error *ngIf="form.controls[field.key].hasError('required')">{{errorMsg.REQUIRED_FIELD}}</mat-error>
            <mat-error *ngIf="form.controls[field.key].hasError('email') && !form.controls[field.key].hasError('required')">{{errorMsg.INVALID_EMAIL}}</mat-error>
            <mat-error *ngIf="form.controls[field.key].hasError('minLength') && !form.controls[field.key].hasError('required')">{{errorMsg.INVALID_MINLENGTH}}</mat-error>
            <mat-error *ngIf="form.controls[field.key].hasError('maxLength') && !form.controls[field.key].hasError('required')">{{errorMsg.INVALID_MAXLENGTH}}</mat-error>
            <mat-error *ngIf="form.controls[field.key].hasError('pattern') && !form.controls[field.key].hasError('required')">{{errorMsg.INVALID_PATTERN}}</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="field.inputType === 'select'">
            <mat-select [placeholder]="field.placeholder"
                        formControlName="{{field.key}}">
                <mat-option *ngFor="let value of field.options | async"
                            [value]="value[field.optionKeys.key]">
                    {{value[field.optionKeys.value]}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls[field.key].hasError('required')">{{errorMsg.REQUIRED_FIELD}}</mat-error>
        </mat-form-field>

        <ng-container *ngIf="field.inputType === 'checkbox'">
            <mat-checkbox formControlName="{{field.key}}">{{field.placeholder}}</mat-checkbox>
            <mat-error *ngIf="form.controls[field.key].hasError('required')">{{errorMsg.REQUIRED_FIELD}}</mat-error>
        </ng-container>

        <ng-container *ngIf="field.inputType === 'slideToggle'">
            <mat-slide-toggle formControlName="{{field.key}}">{{field.placeholder}}</mat-slide-toggle>
            <mat-error *ngIf="form.controls[field.key].hasError('required')">{{errorMsg.REQUIRED_FIELD}}</mat-error>
        </ng-container>


    </div>

    <div class="form-group btn-group align-right">
        <button mat-raised-button
                (click)="save()"
                [disabled]="!formModified || form.invalid"
                color="primary">Guardar</button>
        <button mat-raised-button
                (click)="reset()"
                [disabled]="!formModified"
                type="button"
                color="accent">Deshacer</button>
    </div>
</form>